/*
#navbar {
    background-color:  blue;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  /*
  #navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

 #wrapper { margin: 0 auto;
	width: 80%;
    
	min-width: 960px; max-width: 1200px;
	background-color: #B3C7E6;
	color: #000066; }
  header{
      background-color: #CCCCFF;
  }


  nav ul{
      width: 90px;
      float: left;
      padding: 10px;
      list-style-type:none;
      text-decoration:none;
  }
  

  main{
      
      margin-left:100px;
      padding: 10px;
      background-color: #c2cad1;
      
  }

  body{
      background-color: #000066;
      
  }  

  footer{
      
      text-align: center;
      font-style: italic;
      background-color: #CCCCFF;
      clear:both;
      
  }
  
  a{
    color:#000066;
    text-decoration: none;
  }

  h1, h2, h3{
      margin:0;
      padding:10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #000066;
  }
/* Table modifications*/
  table{
      margin: auto;
      border: 5px solid #000066;
      border-spacing: 0;
      width: 600px;
  }

  td,th{
      border: 1px solid #000066;
      padding: 0.5em;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  caption{
      font-size: xx-large;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
      color: #000066;
  }


@media(max-width:800px){
    body{
        background-color:#54BAB9 ;
    }
    h1,h2,h3{
        margin:0;
        padding:10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #54BAB9;
    }
    a{
        color:#54BAB9;
        text-decoration: none;
    }
}


  .responsive{
    max-width: 100%;
    height: auto;
  }

  .green{
      background-color: green;
  }

  .yellow{
      background-color: yellow;
  }

  .red{
      background-color:red;
  }

  .forty{
      background-color: #ddd;
  }