body {font-family:Verdana, Arial, sans-serif;
    background-color: #00005D;
}
#wrapper { background-color: #b3c7e6; 
         color: #000066;
         width: 80%;
         margin: auto;
         min-width: 850px;
         max-width: 1200px;
} 


main { display: block; /* for Internet Explorer version 10 and below */
     padding: 3em;
     background-color: #ffffff;
     color: #000000;
} 
header { background-color: #869dc7;
      color: #00005D; 
      font-size: 150%; 
      font-family: "Lobster";
    
      padding: 10px 10px 10px 30px;
      
  }
nav { 
    
    top: 0;
    background-color: #B3C7E6; 
    height: 40px;
}
h2, h3 { color: #869dc7; 
   font-family: "Lobster";
}

#floatright { margin: 10px;
           float: right;
}

footer { background-color: #869dc7; 
       color: #FFFFFF;
       font-size:70%;
       text-align: center;
       clear: right;
       padding: 2em;
}	
nav ul { list-style-type: none;}
nav li {  display: inline; }
nav a  { text-decoration: none; 
       padding-right: 10px; }
 nav a:hover{
           color: #EAEAEA;
       }

.social{
    color:#00005D;
}
.email{
    color:#00005D;
}
.phone{
    color:#00005D;
}
.nav{
    color: #00005D;
    font-family: "Lobster";
}

table{
    margin: auto;
    border: 5px solid #000066;
    border-spacing: 0;
    width: 600px;
}

th{
    border: 1px solid #000066;
    padding: 1em;
    font-family: "Lobster";
    font-size: large;
}

td{
    border: 1px solid #000066;
    padding: 1em;
    font-family:Verdana, Arial, sans-serif;
}

caption{
    font-size: xxx-large;
    font-family: "Lobster";
    font-style: italic;
    color: #000066;
}

form{
    background-color: #EAEAEA;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 650px;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}